html, body {margin: 0; padding: 0;}
section, div, p, img, ul, li, a { background: none; border: none; }
.clear { clear: both; }

#central { background-image: url(/box-s.png);
	   background-position: center center;
	   background-repeat: no-repeat;
	   min-height: 600px;
	 }
#central h1 { font-size: 90pt; text-align: center; }
#central a { text-decoration: none;}

#elements { text-align: center; }
#info, #picture, #text { display: inline-block; margin: 0.5em 2%; vertical-align: middle; }
#info, #text { width: 25%; }
#info { text-align: right; }
#info ul {list-style-type: none}
#info .in-a-row li{ display: inline; vertical-align: center;}
#text { text-align: left; }
#picture { text-align: center;
	   background-image: url(/1px-white-70.png);
	   border: 1px solid gray; -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; 
	   padding: 1em;
	   height: 25px;
	   vertical-align: middle;
	   margin-top: 80px;
	 }
#picture img { vertical-align: middle; margin: 0 0.5em; 
	       width: 75px;
	       border: 1px solid gray;  -moz-border-radius: 4px; -khtml-border-radius: 4px; -webkit-border-radius: 4px;
	       background-color: white;
	       padding: 2px;
	     }
#picture .switch { width: 1em; padding:0.3em; text-align: center;
		   border: 1px solid gray; -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; }
#picture a.switch { color: black; }
#picture a.switch:hover { background-color: #ddd; }

ul#spin-image { margin: 0; margin-top: -80px; padding: 0; list-style-type: none; display: inline-block; max-height: 100px; vertical-align: middle;}
ul#spin-image li { margin: 0; padding: 0; display: none;  }

#red-corner{ background-image: url(/corner.png);
	     background-position: top right;
	     background-repeat: no-repeat;
	     height: 200px; width: 300px;
	     top: 0px; right: 0px;
	     position: absolute;
	   }